.ball {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1;
  } 
  